<?xml version="1.0" encoding="UTF-8"?>
<suite name="AllTestsSuite">
    <test name="AllTestCases">
        <classes>
            <class name="LogInPageTests"/>
            <class name="MainPageTests"/>
            <class name="RegistrationPageTest"/>
            <class name="FunctionsOfShoppingTests"/>
        </classes>
    </test>
</suite>